target
.idea
data
diffs
store
.DS_Store

# Example files
basic.pdf
empty_document.pdf
parley.pdf
simple_text.pdf
stream_builder.pdf
svg.pdf

# Python
*.pyc
__pycache__/
*.so
.venv/
.vscode/
.pytest_cache/
.ruff_cache/
CLAUDE.md
crates/krilla-py/docs/build/
