[workspace]
resolver = "2"
members = ["krilla-macros"]

[workspace.package]
version = "0.1.0"
authors = ["Laurenz Stampfl <laurenz.stampfl@gmail.com>"]
edition = "2021"
repository = "https://github.com/LaurenzV/krilla"
readme = "README.md"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
image = { version = "0.25.1", default-features = false, features = ["jpeg", "png", "gif", "webp"] }
miniz_oxide = "0.8.0"
once_cell = "1.19.0"
pdf-writer = {git = "https://github.com/LaurenzV/pdf-writer", rev = "34c991f5"}
resvg = "0.43.0"
siphasher = "1.0.1"
skrifa = "0.21.0"
tiny-skia = "0.11.4"
subsetter = {git = "https://github.com/typst/subsetter/", rev="67bde74"}
tiny-skia-path = "0.11.4"
usvg = "0.43.0"
flate2 = "1.0.30"
fontdb = "0.21.0"
yoke = { version = "0.7.4", features = ["derive"] }
float-cmp = "0.9.0"
difference = "2.0.0"
paste = "1.0.15"
rustybuzz = "0.18.0"
sitro = {git = "https://github.com/LaurenzV/sitro", rev = "2589ce31"}
cosmic-text = {git = "https://github.com/LaurenzV/cosmic-text", rev = "d8cad28"}
quote = "1.0.37"
syn = { version = "2.0.76", features = ["full", "extra-traits"] }
proc-macro2 = "1.0.86"
krilla-macros = {path = "krilla-macros"}

[package]
name = "krilla"
description = "A high-level crate for creating PDF files."
categories = ["graphics", "multimedia"]
keywords = ["pdf"]
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[dependencies]
image = { workspace = true }
miniz_oxide = { workspace = true }
once_cell = { workspace = true }
pdf-writer = { workspace = true }
resvg = { workspace = true }
siphasher = { workspace = true }
skrifa = { workspace = true }
tiny-skia = { workspace = true }
subsetter = { workspace = true }
tiny-skia-path = { workspace = true }
usvg = { workspace = true }
flate2 = { workspace = true }
fontdb = { workspace = true }
yoke = { workspace = true }
float-cmp = { workspace = true }

[dev-dependencies]
difference = { workspace = true }
paste = { workspace = true }
rustybuzz = { workspace = true }
sitro = { workspace = true }
cosmic-text = { workspace = true }
krilla-macros = { workspace = true }


