[package]
name = "krilla"
version = "0.1.0"
edition = "2021"

[dependencies]
image = { version = "0.25.1", default-features = false, features = ["jpeg", "png", "gif", "webp"] }
miniz_oxide = "0.7.4"
once_cell = "1.19.0"
pdf-writer = {git = "https://github.com/LaurenzV/pdf-writer", rev = "5aa89f5"}
resvg = {git = "https://github.com/LaurenzV/resvg", rev = "1c2b6bd0"}
siphasher = "1.0.1"
skrifa = {git="https://github.com/LaurenzV/fontations", rev="0ed7955"}
tiny-skia = "0.11.4"
subsetter = {path = "../subsetter"}
tiny-skia-path = {git = "https://github.com/RazrFalcon/tiny-skia", rev="eec0a47"}
usvg = {git = "https://github.com/LaurenzV/resvg", rev="1c2b6bd0"}
cosmic-text = {git = "https://github.com/pop-os/cosmic-text", rev = "6f78d23"}
flate2 = "1.0.30"
fontdb = "0.20.0"
yoke = { version = "0.7.4", features = ["derive"] }

[patch.crates-io]
tiny-skia-path = {git = "https://github.com/RazrFalcon/tiny-skia", rev="eec0a47"}

[dev-dependencies]
difference = "2.0.0"
sitro = {git = "https://github.com/LaurenzV/sitro", rev="87c0d14"}


