[workspace]
resolver = "2"
members = ["krilla-macros"]

[workspace.package]
version = "0.1.0"
authors = ["Laurenz Stampfl <laurenz.stampfl@gmail.com>"]
edition = "2021"
repository = "https://github.com/LaurenzV/krilla"
readme = "README.md"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
image = { version = "0.25.1", default-features = false, features = ["png"] }
miniz_oxide = "0.8.0"
once_cell = "1.19.0"
pdf-writer = "0.11.0"
resvg = "0.43.0"
siphasher = "1.0.1"
skrifa = "0.21.0"
tiny-skia = "0.11.4"
subsetter = "0.2.0"
tiny-skia-path = "0.11.4"
usvg = "0.43.0"
flate2 = "1.0.30"
fontdb = "0.21.0"
yoke = { version = "0.7.4", features = ["derive"] }
float-cmp = "0.9.0"
difference = "2.0.0"
paste = "1.0.15"
rustybuzz = "0.18.0"
sitro = {git = "https://github.com/LaurenzV/sitro", rev = "664be71b"}
cosmic-text = {git = "https://github.com/LaurenzV/cosmic-text", rev = "d8cad28"}
quote = "1.0.37"
syn = { version = "2.0.76", features = ["full", "extra-traits"] }
proc-macro2 = "1.0.86"
oxipng = "9.1.2"
krilla-macros = {path = "krilla-macros"}
parley = {git = "https://github.com/linebender/parley", rev = "14070d5"}
zune-png = "0.4.10"
zune-jpeg = "0.4.13"
gif = "0.13.1"
image-webp = "0.1.3"

[package]
name = "krilla"
description = "A high-level crate for creating PDF files."
categories = ["graphics", "multimedia"]
keywords = ["pdf"]
exclude = [
    "assets/*",
    "src/tests",
    "krilla-macros"
]
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
repository = { workspace = true }
license = { workspace = true }

[features]
default = ["simple-text", "raster-images", "svg"]
# Allow for rendering SVG images and SVG-based glyphs.
"svg" = ["dep:resvg", "dep:usvg", "dep:tiny-skia", "fontdb", "raster-images"]
# Allow for rendering simple text without having to shape it yourself.
"simple-text" = ["dep:rustybuzz"]
# Add the convenience method for converting fontdb databases.
"fontdb" = ["dep:fontdb"]
# Allow for adding raster images to your document.
"raster-images" = ["dep:zune-png", "dep:zune-jpeg", "dep:gif", "dep:image-webp"]

[dependencies]
flate2 = { workspace = true }
float-cmp = { workspace = true }
fontdb = { workspace = true, optional = true }
gif = { workspace = true, optional = true }
image-webp = { workspace = true, optional = true }
miniz_oxide = { workspace = true }
once_cell = { workspace = true }
pdf-writer = { workspace = true }
resvg = { workspace = true, optional = true }
rustybuzz = { workspace = true, optional = true }
siphasher = { workspace = true }
subsetter = { workspace = true }
skrifa = { workspace = true }
tiny-skia = { workspace = true, optional = true }
tiny-skia-path = { workspace = true }
usvg = { workspace = true, optional = true }
yoke = { workspace = true }
zune-png = { workspace = true, optional = true }
zune-jpeg = { workspace = true, optional = true }
xmp-writer = "0.2.0"

[dev-dependencies]
cosmic-text = { workspace = true }
difference = { workspace = true }
image = { workspace = true }
krilla-macros = { workspace = true }
oxipng = { workspace = true }
parley = { workspace = true }
paste = { workspace = true }
sitro = { workspace = true }


