name: Continuous integration
on: [push, pull_request]

env:
  KRILLA_THRESHOLD: "100"
  STORE: ""
  RUSTFLAGS: "-Dwarnings"
  RUSTDOCFLAGS: "-Dwarnings"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Rust toolchain
        uses: dtolnay/rust-toolchain@1.91.0

      - name: Get Rust cache
        uses: Swatinem/rust-cache@v2

      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Pull sitro Docker image
        run: docker pull vallaris/sitro-backends:latest

      - name: Install ghostscript
        run: sudo apt-get update && sudo apt-get install -y ghostscript

      - name: Download Arlington model
        run: |
          curl -LO https://software.verapdf.org/dev/arlington/1.29/verapdf-arlington-1.29.9-installer.zip
          unzip verapdf-arlington-1.29.9-installer.zip
          cd verapdf-arlington-1.29.9
          java -jar verapdf-izpack-installer-1.29.9.jar ../.github/arlington.xml

      - name: Download verapdf model
        run: |
          curl -LO https://software.verapdf.org/dev/1.29/verapdf-greenfield-1.29.16-installer.zip
          unzip verapdf-greenfield-1.29.16-installer.zip
          cd verapdf-greenfield-1.29.16
          java -jar verapdf-izpack-installer-1.29.16.jar ../.github/verapdf.xml

      - name: Build
        run: cargo build

      - name: Run tests
        run: cargo test -p krilla-tests --features visreg -- --nocapture

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          path: ./diffs

      - name: Run Arlington PDF tests
        # We are excluding one file because of https://github.com/pdf-association/arlington-pdf-model/issues/132
        run: find ./store -name "*.pdf"
          | grep -v "validate_pdf_a4f_full_example.pdf"
          | xargs /tmp/arlington/arlington-pdf-model-checker --format text -r -v --loglevel 0 -e ISO_19005_3

      - name: Run veraPDF tests
        run: find store -name "validate*.pdf"
          | xargs /tmp/verapdf/verapdf --format text -r -v --loglevel 0

      - name: Check PDFs with ghostscript
        run: python3 check_gs.py

  checks:
    name: Check clippy, formatting, and documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.91.0
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@cargo-hack
      - run: cargo clippy
      - run: cargo fmt --check --all
      - run: cargo doc --workspace --no-deps
      - run: RUSTFLAGS=-Awarnings cargo hack check --each-feature

  min-version:
    name: Check minimum Rust version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.89.0
      - uses: Swatinem/rust-cache@v2
      - run: cargo check --workspace

  check-generated-code:
    name: Ensure the generated code is up-to-date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@1.91.0
      - uses: Swatinem/rust-cache@v2
      - name: run code generator
        run: cargo run --bin=codegen
      - name: check for uncommitted changes
        run: git diff --exit-code
